/*LOGOS*/
#logo_wrapper{
    width: 18.5vmin;    /* 3.5*(3+(3-1))=18.5 It looks like there is 1 image gap between each image*/
    height: 5vmin;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;


    z-index: 12;
}

.logo_desktop{
    width: 5vmin;
    height: 5vmin;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: inherit;
}

#image_cv, #image_eng, #image_tr, #image_email, #image_dot, #image_email_copypaste, #image_return, #image_filter, #image_linkedin, #image_spotify, #image_instagram{
    width: 3.5vmin;
    height: 3.5vmin;

    padding: 0.3vmin;

    z-index: inherit;
}

#image_cv:hover, #image_eng:hover, #image_tr:hover, #image_email:hover, #image_email_copypaste:hover, #image_return:hover, #image_linkedin:hover, #image_spotify:hover, #image_instagram:hover{
    border-width: 0.5vmin;
    border-radius: 4.1vmin;
    border-style: solid;
    cursor: pointer;
}

#logo_cv{
    position: absolute;
}

#logo_return{
    position: absolute;

    visibility: hidden;
    opacity: 0%;
}

#logos_lang_container{
    width: 5vmin;
    height: 5vmin;

    z-index: 12;
}

#logos_lang{
    width: 5vmin;
    height: 5vmin;
    position: absolute;
    z-index: 13;
}

#lang_dropdown{
    width: 4.2vmin;
    height: 0vmin;  /*9vmin*/

    visibility: hidden;
    opacity: 0%;
    
    position: absolute;

    background-color: var(--bg_black);

    border-width: 0.5vmin;
    border-radius: 4.5vmin;
    border-style: solid;

    transition: 0.4s;
}



#logo_eng, #logo_tr, #logo_cv, #logo_return{
    transition: height 0s, visibility 0s, opacity 0.4s;
}

#logo_tr{
    visibility: hidden;
    opacity: 0%;
}




.image_attention{
    width: 3.5vmin;
    height: 3.5vmin;
}

#email_wrapper{
    height: 4.1vmin;
    width: 35vmin;

    position: absolute;
    top: 1.4vmin;
    left: calc(100vw);

    font-size: 2vmin;
    font-weight: 400;

    display: flex;
    justify-content: left;
    align-items: center;

    border-width: 0.5vmin;
    border-top-left-radius: 4.1vmin;
    border-bottom-left-radius: 4.1vmin;
    border-style: solid;

    background-color: var(--bg_black);

    transition: 0.25s;
    z-index: 12;

}


#logo_email_copypaste{
    width: 4.1vmin;
    height: 4.1vmin;

    margin-right: 2vmin;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: inherit;
}





