#mobile_header{
    width: 100vw;
    height: var(--mobile_header_height);

    padding-top: calc((var(--mobile_header_height) - 8vmin)/2 + 2vmin);

    text-align: center;
    font-size: 8vmin;
    font-weight: 550;

    border-bottom-style: solid;
    border-bottom-width: 0.75vmin;
    border-bottom-color: white;
}

#mobile_landing{
    width: 100vw;
    height: calc(100% - var(--mobile_header_height) - 2.75vmin);      /* Must size %100 rather than 100vh to fix android cutoff issue*/

    overflow: scroll;

    display: grid;
    justify-items: center;
    align-items: center;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

#mobile_landing::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.mobile_landing_header{
    padding-top: 6vmin;

    font-size: 9vmin;
    font-weight: 550;
    text-align: center;
}

.mobile_landing_logo{
    width: 35vmin;
    height: 35vmin;

    display: block;
    margin-right: auto;
    margin-left: auto;
    
    padding-top: 8vmin;
}


#mobile_roboticist{
    background-color: var(--swatch_red);
    box-shadow: 0 0 12.5vmin var(--swatch_red);
}

#mobile_botsmith{
    background-color: var(--swatch_purple);
    box-shadow: 0 0 12.5vmin var(--swatch_purple);
}

#mobile_designer{
    background-color: var(--swatch_orange);
    box-shadow: 0 0 12.5vmin var(--swatch_orange);
}

#mobile_strategist{
    background-color: var(--swatch_turqoise);
    box-shadow: 0 0 12.5vmin var(--swatch_turqoise);
}

#mobile_traveller{
    background-color: var(--swatch_green);
    box-shadow: 0 0 12.5vmin var(--swatch_green);
}