#desktop_assets_wrapper{
    width: 100vw;
    height: 100vh;

}

#mobile_assets_wrapper{
    width: 100%;
    height: 100%;       /* Must size %100 rather than 100vh to fix anroid cutoff issue*/

}

#mobile_traveller_intro{
    font-size: 7vmin;
    font-weight: 550;
    text-align: center;
}

#mobile_traveller_image{
    width:100vw;
    padding-top: 3vmin;
    padding-bottom: 3vmin;
}

@media screen and (max-width:1367px) {      /* Ipad Pro 11.9" is the limit*/
    #desktop_assets_wrapper{
        display: none;
    }

    #eky860KzHwM1{
        width: 50%;
        height: auto;
    
    }

    button, .filter_button, #image_cv:hover, #image_eng:hover, #image_tr:hover, #image_email:hover, #image_email_copypaste:hover, #image_return:hover{
        cursor: default;
    }


    .page_content{
        width: 100vw;
        height: calc(100% - var(--mobile_header_height) - 2* 2.75vmin - var(--mobile_menu_height));     /* Must size %100 rather than 100vh to fix android cutoff issue*/

        top: calc(var(--mobile_header_height) + 2.75vmin);
        left: 0vmin;
        
    }

    .projects_container_grid{
        width: 100vw;

        top: 0vmin;
        left: 0vmin;
        
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        grid-column-gap: 0vmin;

    }

    .project_container{
        width: 60vmin;
        height: 60vmin;

        margin: 10vmin;
    
        border-radius: 1vmin;
    
    }
    
    .project_container_roboticist{
        background-color: var(--swatch_red);
        box-shadow: 0 0 12.5vmin var(--swatch_red);
    }
    
    .project_container_botsmith{
        background-color: var(--swatch_purple);
        box-shadow: 0 0 12.5vmin var(--swatch_purple);
    }
    
    .project_container_designer{
        background-color: var(--swatch_orange);
        box-shadow: 0 0 12.5vmin var(--swatch_orange);
    }

    .project_container_strategist{
        background-color: var(--swatch_turqoise);
        box-shadow: 0 0 12.5vmin var(--swatch_turqoise);
    }

    .project_container_roboticist:hover{
        background-color: var(--swatch_red);
        box-shadow: 0 0 12.5vmin var(--swatch_red);
    }
    
    .project_container_botsmith:hover{
        background-color: var(--swatch_purple);
        box-shadow: 0 0 12.5vmin var(--swatch_purple);
    }
    
    .project_container_designer:hover{
        background-color: var(--swatch_orange);
        box-shadow: 0 0 12.5vmin var(--swatch_orange);
    }

    .project_container_strategist:hover{
        background-color: var(--swatch_turqoise);
        box-shadow: 0 0 12.5vmin var(--swatch_turqoise);
    }

    .project_container_logo{
        width: 20vmin;
        height: 20vmin;
        
        padding-top: 4vmin;
    }
    
    h1{
        font-size: 8vmin;
        padding-top: 4vmin;
    }

    .project_container_intro{             /*3 Lines are allowed*/
        padding-top: 2vmin;
        padding-bottom: 2vmin;
    
        font-size: 4vmin;
    }
    
    .project_container_seemore{
        padding-top: 2vmin;
    
        font-size: 4vmin;
    
        border-top-width: 1vmin;
    }




    /*Secondary Project Page*/
    .project_page_blanket{
        width: 100vw;

        position: absolute;
        top: 0vmin;
        left: 0vmin;

        z-index: 4;
    }

    .project_page_return_button{
        width: 10vmin;
        height: 10vmin;

        top: 2.25vmin;

    }

    .image_project_return{
        width: 7vmin;
        height: 7vmin;

        padding: 0.6vmin;

        border-width: 1vmin;      /* Gerekirse yeniden hovera alınabilir*/
        border-radius: 8.2vmin;

        cursor: default;
    }

    .project_content{
        width: calc(100vw - 2 * 3vmin);

        margin-left: 3vmin;
        
        font-size: 4vmin;
    }

    .project_info{
        padding-top: 3vmin;
    }
    
    th{
        width: 20vmin;
        font-size: 5vmin;
        font-weight: 500;
        text-align: left;
    
        vertical-align: top;
        padding-bottom: 2vmin;
    }
    
    td{
        font-size: 5vmin;
        font-weight: 400;
        text-align: left;
    
        vertical-align: top;
        padding-left: 2vmin;
        padding-bottom: 2vmin;
    }





    /* STRATEGIST */
 
    


    /* TRAVELLER */
    #desktop_traveller_container{
        display: none;
    }
    
    #page_traveller{
        display: flex;
        align-items: center;
    }
    



}






@media screen and (min-width:1367px) {
    #mobile_assets_wrapper, #mobile_traveller_container{
        display: none;
    }


    
}

