/*PAGES*/

/* MAIN PAGES */
.page_content{
    width: calc(100vw - 6vmin);
    height: calc(100vh - 8.75vmin);

    position: absolute;
    top: 8.75vmin;
    left: 3vmin;

    visibility: hidden;
    opacity: 0%;
    transition: visibility 0s, opacity 0.4s;

    z-index: 2;

}

#page_roboticist, #page_botsmith, #page_designer, #page_strategist{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

#page_traveller{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow: hidden;
}

#page_roboticist::-webkit-scrollbar, #page_botsmith::-webkit-scrollbar, #page_designer::-webkit-scrollbar, #page_strategist::-webkit-scrollbar, #page_traveller::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


/* PROJECT GRID */
.projects_container_grid{
    width: calc(100vw - 2 * 6.4vmin);

    position: relative;
    top: 2vmin;
    left: 3.4vmin;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 5vmin;
}

.project_container{
    width: 30vmin;
    height: 30vmin;

    margin-top: 0vmin;
    margin-bottom: 10vmin;
    
    border-radius: 1vmin;

    transition: 0.25s;
}

.project_container_roboticist:hover{
    background-color: var(--swatch_red);
    box-shadow: 0 0 10vmin var(--swatch_red);
}

.project_container_botsmith:hover{
    background-color: var(--swatch_purple);
    box-shadow: 0 0 10vmin var(--swatch_purple);
}

.project_container_designer:hover{
    background-color: var(--swatch_orange);
    box-shadow: 0 0 10vmin var(--swatch_orange);
}

.project_container_strategist:hover{
    background-color: var(--swatch_turqoise);
    box-shadow: 0 0 10vmin var(--swatch_turqoise);
}


.project_container_logo{
    width: 10vmin;
    height: 10vmin;
    
    display: block;
    margin-right: auto;
    margin-left: auto;


    padding-top: 2vmin;
}

.project_container_intro{             /*3 Lines are allowed*/
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-right: 0.5vmin;
    padding-left: 0.5vmin;

    font-size: 2vmin;
    font-weight: 400;
    text-align: justify;
}

.project_container_seemore{
    padding-top: 1vmin;

    font-size: 2vmin;
    font-weight: 400;
    text-align: center;

    border-top-style: solid;
    border-top-width: 0.5vmin;
    border-color: white;
}



/* EXPANDED PROJECT */
.project_page_blanket{
    width: calc(100vw - 2 * 6.4vmin);

    position: absolute;
    top: 0vmin;
    left: 3.4vmin;

    height: 0vmin;
    opacity: 0%;

    transition: height 0.4s, opacity 0.4s;  /*Instead of transition: 0.4s do it like this so that the blanket can be translated without delay in project_page_expander */
    z-index: 3;

}

.project_page_return_button{
    width: 5.1vmin;
    height: 5.1vmin;

    position: absolute;
    top: 3vmin;
    left: 3vmin;

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 4;

    border-radius: 5.1vmin;
    background-color: var(--bg_black);
}

.image_project_return{
    width: 3.5vmin;
    height: 3.5vmin;

    padding: 0.3vmin;

    border-width: 0.5vmin;      /* Gerekirse yeniden hovera alınabilir*/
    border-radius: 5.1vmin;
    border-style: solid;
    cursor: pointer;
}

.project_content{
    width: calc(100vw - 2 * 6.4vmin - 6vmin);

    position: absolute;
    padding-left: 3vmin;
    padding-right: 3vmin;
    
    font-size: 2vmin;
    font-weight: 400;
    text-align: justify;

    height: 0vmin;
    opacity: 0%;
    visibility: hidden;

    transition: 0.4s;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */     /*It's laggy when this is here and not in project page wtf*/
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.project_content::-webkit-scrollbar{
    display: none; /* for Chrome, Safari, and Opera */
}

.project_info{
    padding-top: 1.5vmin;
}


.responsive-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
  
/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


th{
    width: 20vmin;
    font-size: 2.5vmin;
    font-weight: 500;
    text-align: left;

    vertical-align: top;
    padding-bottom: 1vmin;
}

td{
    font-size: 2.5vmin;
    font-weight: 400;
    text-align: left;

    vertical-align: top;
    padding-left: 1vmin;
    padding-bottom: 1vmin;
}








/* ROBOTICIST PAGE */
.header_roboticist{
    color: var(--swatch_red);
    text-shadow: 0 0 50px var(--swatch_red);
}

#project_page_roboticist_blanket{
    background-color: var(--swatch_red);
}



/* BOTSMITH PAGE */
.header_botsmith{
    color: var(--swatch_purple);
    text-shadow: 0 0 50px var(--swatch_purple);
}

#project_page_botsmith_blanket{
    background-color: var(--swatch_purple);
}



/* DESIGNER PAGE */
.header_designer{
    color: var(--swatch_orange);
    text-shadow: 0 0 50px var(--swatch_orange);
}

#project_page_designer_blanket{
    background-color: var(--swatch_orange);
}



/* STRATEGIST PAGE */
.header_strategist{
    color: var(--swatch_turqoise);
    text-shadow: 0 0 50px var(--swatch_turqoise);
}

#project_page_strategist_blanket{
    background-color: var(--swatch_turqoise);
}

.writing_container{
    width: calc(100vw - 2 * 6.4vmin);

    position: relative;
    top: 2vmin;
    left: 3.4vmin;

    font-size: 2.5vmin;
    font-weight: 450;
    text-align: center;
}



/* TRAVELLER MAP */
#map{
    width: calc(100vw - 6vmin);
}

#traveller_instagram_follow{
    margin-left: 5vw;
    width: 90vw;
    height: 11vmin;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    
    border-style: solid;
    border-width: 1vmin;
    border-radius: 11vmin;
    border-color: white;

    font-size: 6vmin;
    padding-top: 0.625vmin;
    font-weight: 550;
    text-align: center;

}

#desktop_traveller_container{
    width: calc(100vw - 2 * 6.4vmin);
    left: 3.4vmin;
    position: absolute;
    height: 100%;

    overflow: hidden;

}

#world_map{
    transform-origin: 0 0;

    
}

svg path{
    fill: var(--map_green);
    stroke: white;
    stroke-width: .25;
}

svg path:hover{
    fill: var(--swatch_green);
}

#TR, #EG, #IT, #CH, #FR, #DE, #AT, #HU, #PL, #DK, #SE, #MC, #ES, #NL, #BE, #LU, #CZ, #VA, #LV, #LT, #FI, #EE, #RU, #PT, #GR, #BG, #RO, #RS, #HR, #SI, #BA, #ME{
    fill: var(--swatch_green);
}



/* NEW PAGE */





/* CV */
#page_cv{
    width: 100vw;
    height: calc(100vh - 8vmin);

    position: absolute;
    top: 100vh;

    background-color: var(--bg_black);
    
    transition: 1s;
    z-index: 11;

}

#cv_pdf_eng, #cv_pdf_tr{
    width: 100%;
    height: calc(100vh - 8.75vmin);

    position: absolute;

    transition: visibility 0s, opacity 0.2s;

}

#cv_pdf_tr{
    opacity: 0%;
    visibility: hidden;
}