/*SWATCH*/
#landing_swatch_wrapper{  
    width: 100vmin;
    height: 100vmin;

    position: absolute;
    left: calc((100vw - 100vmin)/2);

    transform-origin: 50vmin 50vmin;
    transition: 0.2s;           /*This makes the rotation smooth*/
}

.swatch_element{
    width: 100vmin;

    position: absolute;
    top: 46.65vh;
    transform-origin: 50vmin 3.35vmin;    
}

.swatch_button{
    font-size: 5.5vmin;
    font-weight: 550;
    text-align: left;

    margin-left: 70vmin;
    margin-top: 1.2vmin;      /*Perfect for dead center at this font*/

    cursor: pointer;
}


@-moz-document url-prefix() {
    .swatch_button {
        margin-left: 72vmin;
    }
}

#swatch_roboticist{
    transform:rotate(calc(var(--swatch_angle_step) * 0));
}
#swatch_button_roboticist:hover {
    color: var(--swatch_red);
    text-shadow:    0 0 50px var(--swatch_red),
                    0 0 100px var(--swatch_red),
                    0 0 150px var(--swatch_red),
                    0 0 200px var(--swatch_red),
                    0 0 300px var(--swatch_red);
}


#swatch_botsmith{
    transform:rotate(calc(var(--swatch_angle_step) * 1));
}
#swatch_button_botsmith:hover {
    color: var(--swatch_purple);
    text-shadow:    0 0 50px var(--swatch_purple),
                    0 0 100px var(--swatch_purple),
                    0 0 150px var(--swatch_purple),
                    0 0 200px var(--swatch_purple),
                    0 0 300px var(--swatch_purple);
}


#swatch_designer{
    transform:rotate(calc(var(--swatch_angle_step) * 2));
}
#swatch_button_designer:hover {
    color: var(--swatch_orange);
    text-shadow:    0 0 50px var(--swatch_orange),
                    0 0 100px var(--swatch_orange),
                    0 0 150px var(--swatch_orange),
                    0 0 200px var(--swatch_orange),
                    0 0 300px var(--swatch_orange);
}

#swatch_strategist{
    transform:rotate(calc(var(--swatch_angle_step) * 3));
}
#swatch_button_strategist:hover {
    color: var(--swatch_turqoise);
    text-shadow:    0 0 50px var(--swatch_turqoise),
                    0 0 100px var(--swatch_turqoise),
                    0 0 150px var(--swatch_turqoise),
                    0 0 200px var(--swatch_turqoise),
                    0 0 300px var(--swatch_turqoise);
}


#swatch_traveller{
    transform:rotate(calc(var(--swatch_angle_step) * 4));
}
#swatch_button_traveller:hover {
    color: var(--swatch_green);
    text-shadow:    0 0 50px var(--swatch_green),
                    0 0 100px var(--swatch_green),
                    0 0 150px var(--swatch_green),
                    0 0 200px var(--swatch_green),
                    0 0 300px var(--swatch_green); 
}



/*
#swatch_element_i{
    transform:rotate(calc(var(--swatch_angle_step) * i));
}
#swatch_element_i:hover {
    color: var(--swatch_i);
    text-shadow:    0 0 50px var(--swatch_i),
                    0 0 100px var(--swatch_i),
                    0 0 150px var(--swatch_i),
                    0 0 200px var(--swatch_i),
                    0 0 300px var(--swatch_i); 
}
*/







